@tailwind base;
@tailwind components;
@tailwind utilities;


/* Reset básico */
html, body {
  margin: 0;
  padding: 0;
}

/* Navbar base */
.navbar {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #82C0E8;
  padding: 1rem 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  font-family: 'Inter', sans-serif;
}

/* Logo à esquerda */
.navbar-left img {
  display: block;
  height: auto;
  max-height: 140px;
  width: 108px;
}

/* Links ao centro */
.navbar-center .nav-links {
  display: flex;
  gap: 2.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-center .nav-links a {
  font-size: 1.25rem; /* 20px */ 
  font-weight: 500; 
  color: #FFFFFF; 
  text-decoration: none; 
  transition: color 0.3s ease;
}

/*.navbar-center .nav-links a:hover {
  color: #00796B;
}*/

/* Botão à direita */
.navbar-right button {
  font-size: 1.25rem; /* igual aos links */ 
  background-color: #7FE3C0; 
  color: white; 
  border: none; 
  padding: 0.8rem 1.6rem; 
  border-radius: 6px; 
  font-weight: 600; 
  cursor: pointer; 
  transition: background-color 0.3s ease;
}

/*.navbar-right button:hover {
  background-color: #388E3C;
}*/

.navbar-left, .navbar-right { padding: 0 6rem;}

/* Responsivo */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
  }

  .navbar-center .nav-links {
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
  }

  .navbar-right {
    margin-top: 1rem;
    align-self: stretch;
  }

  .navbar-right button {
    width: 100%;
  }
}